{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <link rel="stylesheet" href="{% static "common.css" %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div id="editor_area" class="container">
</div>

<script src="{% static "ace-builds/src/ace.js" %}"  type="text/javascript" charset="utf-8"></script>
<script src="{% static "jquery-3.2.1.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
   $( document ).ready(function() {

   // request the examples
   $.ajax({
      url: "/example/{{ example_name }}",
      data: {},
      type: "GET",
      dataType : "json",
   })
   .done(function( json ) {
      // On success, create editors for each of the resources

      var ul = $( '<ul class="nav nav-tabs" role="tablist">' )
      ul.appendTo($("#editor_area"));

      var counter = 0;

      json.resources.forEach(function(resource){
          counter++;
          var li = $( '<li role="presentation" class="'
           + (counter == 1 ? 'active' : '')
           + '">' ).appendTo(ul);
          $('<a href="#tab_' + counter  + '" aria-controls="tab_'
            + counter + '" '
            + 'id="tab_' + counter + '-tab"'
            + 'role="tab" data-toggle="tab">'
            + resource.basename + '</a>').appendTo(li)
      })

      var content = $( '<div class="tab-content">' )
      content.appendTo($("#editor_area"));

      counter = 0;

      json.resources.forEach(function(resource){
          counter++;
          // a title
          var div = $('<div role="tabpanel" class="tab-pane'
                      + (counter == 1 ? ' active' : '')
                      + '" id="tab_' + counter + '">');
          var editordiv = $('<div class="editor_container" id="' + resource.basename + '_editor">');
          editordiv.appendTo(div)
          div.appendTo(content);

           $('#' + "tab_" + counter + "-tab" + ' a').click(function (e) {
             e.preventDefault()
             $(this).tab('show')
           })

          // ACE editors...
          var editor = ace.edit(resource.basename + '_editor');
          editor.session.setMode("ace/mode/ada");

          // ... and their contents
          editor.insert(resource.contents);

          // TODO: place the cursor at 1,1
      })
   })
   .fail(function( xhr, status, errorThrown ) {
     //
     alert( "could not download the example" );
     console.log( "Error: " + errorThrown );
     console.log( "Status: " + status );
     console.dir( xhr );
   })
   // Code to run regardless of success or failure;
   // commented for now - just so I remember how it's done
   // .always(function( xhr, status ) {});
  });
</script>

</body>
</html>
