{% load markdown_filter %}
{% load rst_filter %}

{% block javascript %}
  <script>
    $(document).ready(function(){
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
     });
  </script>
{% endblock %}

{% block reader %}

<div id="content">

    <div class="infinite-container">

        <div class="infinite-item">
            {% if mdcontent %}
                {{ mdcontent|markdownify|safe }}
            {% elif rstcontent %}
                {{ rstcontent|rstify|safe }}
            {% endif %}
        </div>

    </div>

      <div class="loading" style="display: none;">
        Loading...
      </div>

      {% if chapter_obj.has_next %}
        <a class="infinite-more-link" href="{{ HTTP_HOST }}/books/{{ book_info.subpath }}?page={{ chapter_obj.next_page_number }}"></a>
      {% endif %}


</div>
{% endblock%}